<%- include('partials/header') -%>

    <h1> Agrega un dicho </h1>

    <!-- submit form -->
    <form action="/addDicho" method="POST">
    <!-- <form> -->
        <input type="text" placeholder="Dicho" name="dicho">
        <input type="text" placeholder="Literal Translation" name="literal">
        <input type="text" placeholder="Actual Meaning" name="actual">
        <input type="submit">
    </form>

<%- include('partials/footer') -%>