<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dichonario</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet" 
      href="/css/style.css" 
    />
    <script src="https://kit.fontawesome.com/787cd8b7fd.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
        <nav>
            <ul>
                <li> <i class="fa-solid fa-moon"></i> </li>
                <li> <a href="">DichoOTD</a> </li>
                <li> <a href="">DichoDelDia</a> </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>Bienvenidos to Dichonario</h1>
        <div class="language-buttons">
            <button onClick="showES()">ES</button>
            <button onClick="showEN()">EN</button>
        </div>
        <div class="languages">
            <div id="en">
                <h1>A collection of Mexican colloquialisms.</h1>
                <span>coming soon...</span>
            </div>
            <div id="es">
                <h1>Una colección de coloquialismos mexicanos.</h1>
                <span>próximamente...</span>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
       
</body>
</html>