<%- include('partials/header') -%>

    <h1>Bienvenidos a Dichonario</h1>
    <h1>A collection of all those crazy Mexican expressiones we love, enjoy, and sometimes barely understand haha!</h1>
    <h1>Coming soon...</h1>

<%- include('partials/footer') -%>