<%- include('partials/header') -%>

    <h1>Bienvenidos a Dichonario</h1>
    <h1> The world's largest collection of Mexican colloquialisms. </h1>
    <h1> Stay tuned... </h1>

<%- include('partials/footer') -%>