/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body, html {
  height: 100%;
  margin: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***
MY STYLING  
***/
header {
  margin-top: 20px;
}
nav ul {
  display: flex; /* Use flexbox for horizontal layout */
  flex-direction: row-reverse;
}

nav ul li {
  margin-right: 20px; /* Adjust spacing between list items */
}

nav ul li:first-child {
  margin-right: 40px; /* Remove margin from the last list item */
}

nav ul li i {
  font-size: x-large;
}
nav ul li a {
  text-decoration: none; /* Remove underline from links */
  color: #5b2121; 
  font-weight: bold; 
  font-size: large;
}


button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  margin: 4px 0px;
  cursor: default;
}
h1 {
  text-align: center;
}
#en, #es {
  display: none;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.language-buttons {
}

.language-buttons button {
  background-color: #4CAF50;
  color: white;
  /* border: none; */
  padding: 10px 20px; /* Increase padding for a larger button */
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px; /* Add rounded corners */
  transition: background-color 0.3s ease; /* Add transition effect */
}

.languages {
    margin-top: 10px;
    height: 100px; /* Fixed height for language content */
    overflow: hidden; /* Hide overflow content */
}
.language-buttons button:hover {
  background-color: #195c1c; /* Darker color on hover */
}

.languages div {
  opacity: 0;
  animation: fadeIn 2s forwards; /* Apply fadeIn animation */
}

@keyframes fadeIn {
  from {
      opacity: 0; /* Start with opacity 0 */
  }
  to {
      opacity: 1; /* Transition to opacity 1 */
  }
}